# Игнорировать директорию виртуального окружения
venv/

# Игнорировать все .pyc файлы
*.pyc

# Игнорировать все .pyo файлы
*.pyo

# Игнорировать все .pyd файлы
*.pyd

# Игнорировать все __pycache__ директории
__pycache__/

# Игнорировать все .env файлы
.env

# Игнорировать все .log файлы
*.log

# Игнорировать директорию .idea, которую создает PyCharm
.idea/

# Игнорировать директорию .vscode, которую создает Visual Studio Code
.vscode/

# Игнорировать файлы SQLite
*.sqlite

# Игнорировать файлы Jupyter Notebook
*.ipynb_checkpoints/

# Если вы используете TensorFlow, вы можете также захотеть игнорировать директории с логами TensorBoard
logs/

# Если вы используете Keras, вы можете также захотеть игнорировать файлы .h5 с моделями Keras
*.h5
